header {
    position: fixed;
    width: 1519px;
    height: 61px;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
    z-index: 300;
}

.head_main {
    display: flex;
    height: 61px;
    justify-content: start;
    align-items: center;
}

.head_img {
    width: 98px;
    height: 38px;
}

.head_ul {
    display: flex;
    width: 750px;
    height: 61px;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.head_search {
    width: 168px;
    height: 33px;
    border: 1px solid #e6e6e7;
    background-color: #fafafb;
    outline: none;
    text-indent: 10px;
}

.head_ul {
    font-size: 16px;
}

.head_write {
    width: 88px;
    height: 33px;
    background-color: #007fff;
}

.head_w_1 {
    float: left;
    width: 64px;
    height: 33px;
    background-color: #007fff;
    text-align: center;
    line-height: 33px;
    cursor: pointer;
}

.head_w_1 a {
    font-size: 14px;
    color: #fff;
}

.head_w_2 {
    position: relative;
    float: left;
    width: 23px;
    border-left: 1px solid #7b8fa3;
    height: 33px;
    background-color: #007fff;
    text-align: center;
    cursor: pointer;
}

.head_tri {
    position: absolute;
    top: 9px;
    right: 6px;
    width: 10px;
    height: 10px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
}

.head_feidian {
    position: absolute;
    top: 33px;
    right: -2px;
    width: 90px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #e6e6e7;
    text-align: center;
    line-height: 35px;
}

.head_feidian a {
    font-size: 16px;
    color: #007fff;
}

.head_btn {
    margin-left: 25px;
    width: 70px;
    height: 33px;
    color: #007fff;
    border: 1px solid #007fff;
    background-color: #fff;
    outline: none;
}

.head_srh {
    position: absolute;
    top: 16px;
    right: 500px;
    width: 34px;
    height: 30px;
}

.head_srh_blue {
    position: absolute;
    top: 16px;
    right: 502px;
    width: 34px;
    height: 30px;
}

.userImf {
    position: absolute;
    top: 14px;
    right: 280px;
    width: 80px;
    height: 33px;
    text-align: center;
}

.head_ring {
    margin-top: 5px;
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    cursor: pointer;
}

.userHead {
    float: right;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: purple;
    cursor: pointer;
}

.userSetting {
    position: absolute;
    top: 61px;
    right: 280px;
    width: 160px;
    height: 482px;
    z-index: 400;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border: 1px solid rgba(177, 180, 185, .45);
    border-radius: 4px;
}

.setList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 157px;
}

.setList:nth-of-type(1) {
    height: 89px;
}

.setList:nth-of-type(2) {
    height: 185px;
}

.setList:nth-of-type(3) {
    height: 57px;
}

.setList:nth-of-type(4) {
    height: 93px;
}

.setList:nth-of-type(5) {
    height: 56px;
}

.setList li {
    position: relative;
    width: 157px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}

.setList li:hover {
    background-color: #f8f8f8;
}

.setList li a {
    color: #71777c;
    font-size: 16px;
}

.setList:nth-of-type(1) li:nth-of-type(1)::before {
    content: '\e92c';
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    left: 13px;
    font-size: 18px;
}

.setList:nth-of-type(1) li:nth-of-type(2)::before {
    content: '\e925';
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    left: 13px;
    font-size: 18px;
}

.setList:nth-of-type(2) li:nth-of-type(1)::before {
    content: '\e92e';
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    left: 13px;
    font-size: 18px;
}

.setList:nth-of-type(2) li:nth-of-type(2)::before {
    content: '\e91e';
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    left: 13px;
    font-size: 18px;
}

.setList:nth-of-type(2) li:nth-of-type(3)::before {
    content: '\e926';
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    left: 13px;
    font-size: 18px;
}

.setList:nth-of-type(2) li:nth-of-type(4)::before {
    content: '\e928';
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    left: 13px;
    font-size: 18px;
}

.setList:nth-of-type(2) li:nth-of-type(5)::before {
    content: '\e92d';
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    left: 13px;
    font-size: 18px;
}

.setList:nth-of-type(3) li:nth-of-type(1)::before {
    content: '\e92a';
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    left: 13px;
    font-size: 18px;
}

.setList:nth-of-type(4) li:nth-of-type(1)::before {
    content: '\f013';
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    left: 13px;
    font-size: 18px;
}

.setList:nth-of-type(4) li:nth-of-type(2)::before {
    content: '\e929';
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    left: 13px;
    font-size: 18px;
}

.setList:nth-of-type(5) li:nth-of-type(1)::before {
    content: '\e92b';
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    left: 13px;
    font-size: 18px;
}