.main_userpage {
    display: none;
}

.head_feidian {
    display: none;
}

.head_feidian {
    display: none;
}

.userImf {
    display: none;
}

.userSetting {
    display: none;
}

.login_main_2 {
    display: none;
}

.login_main_3 {
    display: none;
}

.login_main_4 {
    display: none;
}

.panda:nth-of-type(2),
.panda:nth-of-type(3) {
    display: none;
}

.main_main,
.nav {
    /* display: none; */
}

.userleft_div {
    display: none;
}

.editImf {
    display: none;
}

.article_content {
    display: none;
}

.commentlan {
    display: none;
}

.biaoqing_box {
    display: none;
}

.sjc_xinjian,
.tj {
    display: none;
}

.fixcontent {
    display: none;
}

.fix_shoucangjia {
    display: none;
}

.changeUserImg {
    display: none;
}

.GuanzhuMe {
    display: none;
}

.GuanzhuUser {
    display: none;
}

.GUANZHUWOBOX {
    display: none;
}